@import "./_variables.scss";

.blog-page-container {
  margin: auto;
  min-height: 100vh;
}

.blog-post-container {
  margin: auto;
  min-height: 100vh;
}

ul.blog-post-links {
  list-style-type: none;
  // max-width: 800px;
  margin: auto;
  li.blog-post-link {
    display: inline;
    font-size: 48px;
    line-height: 1.2;
    // text-transform: uppercase;
    font-weight: bold;
    a {
      text-decoration: none;
      color: black;
      margin: 0;
      &:hover {
        color: white;
        background-color: black;
      }
    }
    .separator {
      display: inline;
      color: #aaa;
    }
    &:last-child .separator {
      display: none;
    }
  }
}

.blog-post {
  margin: auto;
  max-width: 720px;
  padding: 32px;
  background:rgba(white, 1);
  padding-bottom: 200px;
  min-height: 100vh;
  border-left: 1px solid $nav-line;
  border-right: 1px solid $nav-line;
}

.blog-heading {
  // margin: 80px 0 40px;
  padding-top: 140px;
  margin-bottom: 50px;

  h1 {
    // margin-top: 240px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .date {
    font-size: 20px;
    margin-left: 8px;
    margin-top: -6px;
    font-family: "Overpass", monospace;
    color: rgba(black, 0.6)
  }
}

.markdown-content {
  font-family: "Lora", serif;
  font-size: 16px;
  color: #444;
  p {
    line-height: 1.8;
    margin-bottom: 16px;
  }

  p+p {
    text-indent: 40px;
  }

  blockquote {
    background: rgba(black, .04);
    padding: 24px 24px 24px 40px;
    margin: 40px 0;
    // margin: 40px 20px;
    // box-shadow: inset 0 0 4px 4px rgba(black, 0.02);
    position: relative;
    .quote-attribution {
      text-align: right;
      margin-top: -10px;
      margin-right: 24px;
      font-size: 14px;
    }
    &:after {
      content: '\201C';
      position: absolute;
      left: 10px;
      top: -20px;
      font-size: 64px;
      color: #bbc;
    }
  }
}

.captioned-image {
  margin: auto;
  text-align: center;
  max-width: 100%;
  img {
    max-width: 100%;
  }
  .image-caption {
    font-size: 12px;
  }
  margin-top: 32px;
  margin-bottom: 48px;
}

@media screen and (max-width: 800px) {
  ul.blog-post-links {
    li.blog-post-link {
      font-size: 34px;
    }
  }
  .blog-post {
    padding: 0 8px;
    margin: 0;
    max-width: 100vw;
  }
  .blog-heading {
    h1 {
      font-size: 24px;
    }
  }
  .container {
    padding: 0;
  }
  
}

.chat-bubble {
  max-width: 60%;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  &.left {
    background: #334;
    &:after {
      left: 0;
      border-bottom: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid black;
    }
  }
  &.right {
    float: right;
    background: #668;
    &:after {
      right: 0;
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top: 20px solid black;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    top: 100%;

    clear: both;
  }
}

.chat-bubble-container {
  width: 100%;
  height: 100px;
}

.chat-bubble-author {
  position: absolute;
  text-transform: uppercase;
  font-family: "Overpass Mono", monospace;
  top: -15px;
  font-size: 12px;
  color: #99a;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.hide {
  display: none;
}