$matte-size: 18px;
$matte-size-mobile: 8px;
$matte-border: 2px;
$frame-border: 2px;
$frame-size: 6px;

.framed-image {
	position: relative;
	// display: inline-block;
	// width: 800px;
	// max-width: 100%;
	// max-height: 100%;
	box-shadow: 0 5px 5px 5px rgba(0,0,0,.3);

	.frame {
		position: relative;
		border: $frame-size solid #333;
	}

	.matte {
		background: white;
		padding: $matte-size;
		box-shadow: inset 0 3px 4px 4px rgba(0,0,0,0.1);
		border: $frame-border solid #222;
		border-top-color: #111;
		border-bottom-color: #444;
		@media screen and (max-width: 600px) {
			padding: $matte-size-mobile;
		}
		
	}

	.inset-shadow {
		box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.4);
		border: $matte-border solid #ccc;
		border-top-color: #999;
		border-bottom-color: #eee;
		box-sizing: border-box;
		position: absolute;
		z-index: 1000;
		inset: $matte-size;
		// why????
		// bottom: calc(#{$matte-size} + #{$matte-border})
		bottom: $matte-size + $matte-border + $frame-border;
		@media screen and (max-width: 600px) {
			inset: $matte-size-mobile solid #ccc;
		}
	}

	.image {
		max-width: 100%;
		max-height: 100%;
		@media screen and (max-width: 600px) {
			width: 50%;
			height: 50%;
		}
	}

	/*
	@media screen and (max-width: 900px) {
		width: 80vw;
	}
	*/

}