@import "./_variables.scss";

$spacing: 16px;
ul.links {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style-type: none;
	font-size: 48px;
	padding: $spacing;
	background: $bg-color;
	padding-bottom: 0;
	a {
		font-style: normal;
		text-decoration: none;
		background: black;
		display: inline-block;
		width: 90vw;
		max-width: 400px;
		padding: 10px 40px;
		margin-bottom: $spacing;
		color: white;
		&:hover {
			background: #555;
		}
	}
}
@media screen and (max-width: 700px) {
	ul.links {
		font-size: 40px;
	}
}
@media screen and (max-width: 600px) {
	ul.links {
		font-size: 34px;
	}
}
.fill {
	position: absolute;
	inset: 0;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}
.bg-img {
	min-width: 100vw;
	min-height: 100vh;
	margin: auto;
	background-position: center;
}