{% extends "base.html" %}

{% block content %}
<div class="blog-post-container">
    <div class="container no-mobile-padding">
        <div class="blog-post">
            <div class="blog-heading">
                <h1>{{ page.title }}</h1>
                <div class="date">{{ page.date }}</div>
            </div>
            <div class="markdown-content">
                {{ page.content | safe }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}